body {
    text-align: center;
    font-family: "Verdana";
}

.hw3 {
    text-align: left;
}

h1, h2 {
    font-variant: small-caps;
    font-weight: 100;
    margin-top: 0px;
    margin-bottom: 0px;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

hr {
    padding: 5px;
    outline-width: 5px;
    background: #3b3b3b;
}

label {
    margin: auto;
    padding: 10px;
    outline-width: 10px;
    display: block;
    background: #3b3b3b;
    color: white;
}

.gallery {
    background:black;
    width: 50%;
    margin: auto;
    padding: 20px;
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}

.column {
    float: left;
    width: 50%;
  }
  
.row:after {
content: "";
display: table;
clear: both;
}